.formulario {
    width: 400px;
    height: 350px;
    background-color: rgb(193, 237, 248);
    padding: 10px;
    border-radius: 10%;
    margin: 10px;;
    display: flex;
    align-items: center;
    justify-content: center;
}

#animal{
    width: 400px;
    height: 490px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

        padding: 50px;

}



body{
    margin: 0;
    padding: 0;
    background-color: rgb(99, 98, 98);
    align-items: center;
}

section{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

input{
    height: 30px;
    width: 150px;
    border: none;
    padding: 5px;
    border-radius: 50px;
    border-color: cornflowerblue;
}

p{
    
    font-family: 'Poppins', sans-serif;
}

button{
    margin-top: 20px;
    height: 30px;
    width: 100px;
    background-color: rgb(184, 231, 250);
    color: cornflowerblue;
    border-color: cornflowerblue;
    border-radius: 50px;
    cursor: pointer;
}

button:hover{
    width: 110px;

}



