.formulario {
    width: 410px;
    height: 400px;
    background-color: rgb(254, 255, 255);
    padding: 10px;
    border-radius: 10%;
    margin: 10px;;
    display: flex;
    align-items: center;
    justify-content: center;
}

div{
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.procedure{
    color: rgb(1, 143, 25);
    font-weight: bold;
}

.funcao{
    color:  rgb(232, 151, 37);;
    font-weight: bold; 
}

#animal{
    width: 400px;
    height: 560px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



body{
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
    align-items: center;
}

section{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

input{
    height: 30px;
    width: 150px;
    padding: 5px 7px;
    border-radius: 50px;
    border-color: cornflowerblue;
    border: 1px solid #dddfe2;
}

p,h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: black;
}

button{
    margin-top: 20px;
    height: 30px;
    width: 100px;
    background-color: transparent;
    color: cornflowerblue;
    border-color: cornflowerblue;
    border-radius: 50px;
    border-style: solid;
    cursor: pointer;
}

button:hover{
    width: 110px;
    background-color: cornflowerblue;
    color: #f0f2f5;

}



